<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SGA | Adoção de animais</title>
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/signin.css" rel="stylesheet">
</head>

<body class="text-center">

    @RenderBody()

</body>
</html>